{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Add a Post!</h5>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>

    {% for post, comments in post_list.items %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            {% if is_active == True %}
            <p><strong>{{ post.author }}</strong> {{ post.created_on }}</p>
            <p>{{ post.body }}</p>
            <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            {% elif is_active == False %}
            <p><strong>{{ "DeletedUser" }}</strong> {{ post.created_on }}</p>
            <p>{{ post.body }}</p>
            <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            {% endif %}
        </div>
            {% for comment in comments %}
            <div class="row justify-content-center mt-5 mb-5">
                <div class="col-md-4 col-sm-12 border-bottom">
                    <p>
                        <strong>{{ comment.author }}</strong> {{ comment.created_on }}
                        {% if request.user == comment.author or request.user == post.author%}
                            <a href="{% url 'comment-delete' post.pk comment.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </p>
                    <p>{{ comment.comment }}</p>

                </div>

            </div>
            {% endfor %}
        <p>Comment Users</p>
        {% for comment in comment_users.items %}
        <p>{{ comment }}</p>
        {% endfor %}

    </div>
    {% endfor %}
    </div>
{% endblock content %}
